.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-2);
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
