@mixin Colors() {
    :root {
        --color-primary-1: #2a89e8;
        --color-primary-2: #5ed5e0;
        --color-primary-3: #2a89e8eb;
        --color-primary-4: #abcff4;
        --color-primary-transparent: #2a89e887;

        --color-secondary-1: #15bd9e;
        --color-secondary-2: #5fda8b;
        --color-secondary-3: #8fd7a9;
        --color-yellow: #d4ac40;
        --color-yellow-light: #eee370;
        --color-border: #d5cdcd;
        --color-disabled-lighter: #b7b9be;
        --color-disabled: rgb(141, 142, 143);
        --text-color-medium: rgba(112, 113, 114, 0.95);
        --text-color-light: #8d8e8f63;
        --text-color: rgb(50, 54, 61);
        --text-color-dark: rgb(32, 33, 36);
        --color-dark-2: rgba(8, 61, 66, 0.53);
        --color-dark-3: rgb(32, 33, 36);
        --color-secondary-4: #0c8b90;
        --color-secondary-5: #0cc4cb;
        --color-error-1: hsl(0, 83%, 56%);
        --color-error-2: hsl(0, 63%, 46%);
        --color-error-3: #f97070;
        --color-error-see-through: hsla(0, 83%, 56%, 0.34);
        --color-light: rgb(252, 252, 252);
        --color-light-2: #e7e7e7;
        --color-shadow: rgb(118, 126, 144);
        --color-shadow--light: #dfe1e4;
        --color-shadow-see-through: rgb(118, 126, 144);
        --color-success-1: hsl(85, 69%, 54%);
        --color-success-2: hsl(114, 69%, 54%);
        --color-success-3: hsl(111, 81%, 45%);
        --color-failure-1: #f97070;
        --color-failure-2: #ea3737;
        --color-failure-3: #ec1212;
    }

    .background-color {
        &--primary-1 {
            background-color: var(--color-primary-1);
        }

        &--primary-2 {
            background-color: var(--color-primary-2);
        }

        &--yellow-light {
            background-color: var(--color-yellow-light);
        }

        &--yellow {
            background-color: var(--color-yellow);
        }

        &--light-1 {
            background-color: var(--color-light);
        }

        &--light-2 {
            background-color: var(--color-light-2);
        }

        &--dark-2 {
            background-color: var(--color-dark-4);
        }

        &--secondary-1 {
            background-color: var(--color-secondary-1);
        }

        &--secondary-2 {
            background-color: var(--color-secondary-2);
        }

        &--secondary-3 {
            background-color: var(--color-secondary-3);
        }
    }


    .color {

        &--disabled {
            color: var(--color-shadow);
        }

        &--grey {
            color: var(--color-shadow);
        }

        &--light {
            color: var(--color-light);

            & a, & p {
                color: var(--color-light);
            }
        }

        &--dark-1 {
            color: var(--text-color-dark);
        }

        &--dark-2 {
            color: var(--color-dark-2);
        }

        &--dark-3 {
            color: var(--color-shadow);
        }


        &--secondary-1 {
            color: var(--color-secondary-1);
        }

        &--secondary-2 {
            color: var(--color-secondary-2);
        }

        &--secondary-3 {
            color: var(--color-secondary-3);
        }

        &--yellow {
            color: var(--color-yellow);
        }


        &--error-1 {
            color: var(--color-error-1);
        }

        &--error-2 {
            color: var(--color-error-2);
        }

        &--primary-1 {
            color: var(--color-primary-1);
        }
    }

    .color-inherit {
        color: inherit;
    }
}
